html, body {
    font-family: monospace;
}

.head {
    background: #c0d9f2;
    margin: 0;
    padding: 1rem;
}

.head .title {
    font-size: 2rem;
    font-weight: bold;
    display: inline;
}

.config .section {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.config .section .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .2rem;
    background: #ddd;
}

.config .section .description {
    font: caption;
}

.config .section .field .description {
    margin-left: 1rem;
    margin-top: .2rem;
}

.config .section .field {
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
}

.config .section .field .name {
    font-weight: bold;
    width: 20rem;
    display: inline-block;
}

.config .section .field .value {
    display: inline-block;
}



.actions {
    background: #c0d9f2;
    margin: 0;
    margin-top: 2rem;
    padding: 1rem;
}

.actions button {
    background: white;
    border: .2rem solid #a0baca;
    padding: 0.1rem 1rem .1rem 1rem;
    font-family: monospace;
}

.actions button:active {
    background: lightgreen;
}
